#demo-form {
    background-color: white;
    border-radius: 20px;
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;

    .formInputSubmit {
        display: block;
        margin: auto;
    }
}

.form-group {
    margin-top: 15px;

    label {
        margin-bottom: 0;
    }
}

.formInputFile {
    display: flex;
    flex-direction: column;
}

.formInputFileUpload {
    display: flex;
    flex-direction: row;

    input {
        width: 100%;
        margin-left: 10px;

        &::placeholder {
            text-align: center;
        }
    }
}

