.contentSection .container {
  margin-top: 0;
  padding-top: 50px;
}

@media (max-width: 426px) {
  .contentSection .container {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.contentWrapper {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contentSubHeader {
  font-size: 1.25rem;
  color: grey;
}

.contentOneWrapper {
  margin: 0px auto 150px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contentOneWrapper .imageContainer {
  position: relative;
  width: 400px;
  height: 100%;
}

.contentOneWrapper .imageContainer img {
  top: 50%;
  background-size: cover;
  -webkit-box-shadow: 0px 7px 20px -10px black;
          box-shadow: 0px 7px 20px -10px black;
}

.contentOneWrapper .imageContainer img:nth-child(1) {
  background-image: url("https://images.pexels.com/photos/122383/pexels-photo-122383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  width: 250px;
  height: 350px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background-position: -150px;
  -webkit-filter: blur(0.06rem);
          filter: blur(0.06rem);
}

.contentOneWrapper .imageContainer img:nth-child(2) {
  background-image: url("https://images.pexels.com/photos/196655/pexels-photo-196655.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200");
  width: 300px;
  height: 200px;
  -webkit-transform: translate(30%, 40%);
          transform: translate(30%, 40%);
  -webkit-filter: blur(0.04rem);
          filter: blur(0.04rem);
}

.contentOneWrapper .imageContainer img:nth-child(3) {
  background-image: url("https://images.pexels.com/photos/1542252/pexels-photo-1542252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=250");
  width: 200px;
  height: 250px;
  -webkit-transform: translate(140%, -50%);
          transform: translate(140%, -50%);
  background-position: -90px;
  -webkit-filter: blur(0.02rem);
          filter: blur(0.02rem);
}

.contentOneWrapper .imageContainer img:nth-child(4) {
  background-image: url("https://images.pexels.com/photos/786801/pexels-photo-786801.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200");
  height: 200px;
  width: 200px;
  -webkit-transform: translate(70%, -50%);
          transform: translate(70%, -50%);
}

@media (max-width: 1023px) {
  .contentOneWrapper .imageContainer {
    width: 100%;
  }
}

.contentOneWrapper .content {
  padding-left: 50px;
}

.contentOneWrapper .content p {
  margin: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contentOneWrapper .content p > span {
  font-size: 1.25rem;
}

.contentTwoWrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  height: 200px;
  width: 800px;
}

.contentTwoWrapper p {
  position: unset;
  top: unset;
  -webkit-transform: unset;
          transform: unset;
}

@media (max-width: 1023px) {
  .contentTwoWrapper {
    height: unset;
    width: 80%;
  }
}

@media (max-width: 426px) {
  .contentTwoWrapper {
    width: 90%;
  }
}

.vectorContainer {
  position: relative;
}

.socialMediaHand {
  position: absolute;
  background-image: url("images/socialMedia_hand-01.jpg");
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
}

.socialMediaInfo {
  position: relative;
  margin: 50px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 4rem;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 20px;
}

.socialMediaInfo p.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-style: italic;
  font-size: 1.25rem;
}

.socialMediaWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 100px 0px 100px;
}

.socialMediaWrapper img {
  width: 72px;
}

@media (max-width: 426px) {
  .socialMediaWrapper {
    margin: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .socialMediaWrapper img {
    width: 72px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27%;
            flex: 0 0 27%;
    margin: 25px 2%;
  }
}

.fake-img {
  background-image: url("images/fake_acct.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
  margin: auto;
}

.content-info {
  margin: 100px auto;
  max-width: inherit;
}

@media (max-width: 426px) {
  .content-info {
    width: 100%;
  }
}

.content-wrapper {
  width: inherit;
}

.content-wrapper h4 {
  font-weight: bold;
}

@media (max-width: 1023px) {
  .content-wrapper {
    text-align: center;
    margin: auto;
  }
}

.contentHeader {
  font-size: 36px;
  padding-bottom: 12px;
  line-height: 2.25rem;
}

@media (max-width: 426px) {
  .contentHeader {
    font-size: 32px;
  }
}

.contentHeader-wrapper {
  margin: auto;
  padding: 0 20px;
}

@media (max-width: 1023px) {
  .contentHeader-wrapper {
    width: 100%;
  }
}

@media (max-width: 426px) {
  .contentHeader-wrapper {
    padding: 0;
  }
}

.big {
  font-size: 40px;
}

@media (max-width: 426px) {
  .big {
    font-size: 36px;
  }
}

.contentSubHeader {
  font-weight: bold;
  font-size: 16px;
  line-height: 2rem;
  width: 480px;
  max-width: 90%;
}

@media (max-width: 1023px) {
  .contentSubHeader {
    width: inherit;
    padding: unset;
    margin: auto;
  }
}
/*# sourceMappingURL=Content.css.map */