.contentSection .container {
  margin-top: 0;
  padding-top: 150px;
}

.contentWrapper {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contentSubHeader {
  font-size: 1.25rem;
  color: grey;
}

.contentOneWrapper {
  height: 700px;
  width: auto;
  margin: 0px auto 150px auto;
}

.contentOneWrapper .imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.contentOneWrapper .imageContainer img {
  top: 50%;
  background-size: cover;
  -webkit-box-shadow: 0px 7px 20px -10px black;
          box-shadow: 0px 7px 20px -10px black;
}

.contentOneWrapper .imageContainer img:nth-child(1) {
  background-image: url("https://images.pexels.com/photos/122383/pexels-photo-122383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  width: 250px;
  height: 350px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background-position: -150px;
  -webkit-filter: blur(0.06rem);
          filter: blur(0.06rem);
}

.contentOneWrapper .imageContainer img:nth-child(2) {
  background-image: url("https://images.pexels.com/photos/196655/pexels-photo-196655.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200");
  width: 300px;
  height: 200px;
  -webkit-transform: translate(30%, 40%);
          transform: translate(30%, 40%);
  -webkit-filter: blur(0.04rem);
          filter: blur(0.04rem);
}

.contentOneWrapper .imageContainer img:nth-child(3) {
  background-image: url("https://images.pexels.com/photos/1542252/pexels-photo-1542252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=250");
  width: 200px;
  height: 250px;
  -webkit-transform: translate(140%, -50%);
          transform: translate(140%, -50%);
  background-position: -90px;
  -webkit-filter: blur(0.02rem);
          filter: blur(0.02rem);
}

.contentOneWrapper .imageContainer img:nth-child(4) {
  background-image: url("https://images.pexels.com/photos/786801/pexels-photo-786801.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200");
  height: 200px;
  width: 200px;
  -webkit-transform: translate(70%, -50%);
          transform: translate(70%, -50%);
}

.contentOneWrapper .content {
  padding-left: 50px;
}

.contentOneWrapper .content p {
  margin: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contentOneWrapper .content p > span {
  font-size: 1.25rem;
}

.contentTwoWrapper {
  padding: 150px 0px;
}

.contentTwoWrapper p {
  position: unset;
  top: unset;
  -webkit-transform: unset;
          transform: unset;
}

.socialMediaInfo {
  position: relative;
  margin: 50px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 4rem;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 20px;
}

.socialMediaInfo p.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-style: italic;
  font-size: 1.25rem;
}

.socialMediaWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialMediaWrapper img {
  width: 72px;
}
/*# sourceMappingURL=Content.css.map */