#nav.clear {
    background-color: transparent;

    span {
        color: white;
        font-weight: 600;

        &:hover {
            color: rgba(255, 255, 255, 0.5)
        }
    }

    .navbar-brand {
        color: white;
    }
}

#nav {
    background-color: white;

    span {
        font-weight: bolder;
    }

    .navbar-brand {
        color: rgba(0,0,0,0.9);
        padding-left: 10px;
    }

    &.hide {
        opacity: 0;
        top: -6vh;
        transition: 
            opacity 0.35s ease-in-out, 
            top 0.5s ease-in-out;
    }
}



.nav-links {
    margin-left: auto;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}

