@import "../../util/imports";

.featuresHeader {
    position: absolute;
    top: 20%;
    left: 54%;
    font-size: 4rem;
    grid-row: 1/2;
}

.featureInfoSection {
    position: relative;
    width: 50%;
    height: 100%;
    grid-row: 2/3;
    grid-column: 1/2;


    .featureInfo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }
}


#features-section .featureArticle {
    margin: auto;
    padding: 0px 40px;
    position: relative;
    width: 100%;
    height: inherit;
}
@media (max-width: $breakpoint-tablet) {
    #features-section .featureArticle {
        margin: 25px auto;
    }
}
@media (max-width: $breakpoint-tablet) {
    #features-section .features-container {
        width: 300px;
    }
}



/* ---------- images ---------- */
.featureImage.faceRecognition {
    background-image: url("images/faceRecog.jpg");
    top: 0vh;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-attachment: fixed;
    filter: brightness(0.6);
}

div.featureArticle {
    opacity: 0;
    transform: translateY(25%);
    transition: all .35s ease-in .15s;
    height: fit-content;
    
    &.show {
        opacity: 1;
        transform: translateY(0);
        transition: all 500ms ease-in-out;
    }
}

div.featureArticle .featureImgContainer {
    margin: 5% auto;
    height: 100%;
    width: 100%;
}

#features-section svg {
    width: 100%;
    height: 100px;
}

.featureImgContainer img {
    padding: 0 10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#feature-info {
    width: 100%;
    height: 100%;
    opacity: 1;
    text-align: center;
}

#feature-info .featureTitleContainer {
    margin: 8% auto 0px auto;
}

.featureInfoTitle {
    font-weight: 400;
    line-height: 3rem;
    color: #327796;
}

svg#features-title.featuresTitle {
    height: 5rem;
    width: 100%;
    margin-bottom: 5%;
}

.imageContainer {
    position: relative;
    height: 60vh;
    z-index: -5;

    .howItWorks {
        font-size: 15rem;
        font-style: italic;
        text-align: center;
        position: fixed;
        top: 0%;
        transform: translate(-50%, 0%);
    }
    @media (max-width: $breakpoint-phone) {
        .howItWorks {
            font-size: 5rem;
            top: 30%;
            transform: translate(-50%, 0%);
        }
    }
}

@media (max-width: $breakpoint-phone) {
    #features-section .content-wrapper {
        margin: 50px auto;
    }
}