footer.footerSection {
    height: 30vh;
    position: relative;
    //background-color: #232d33;

    .footerContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        text-align: center;

        .socialMediaConatiner {
            display: flex;
            justify-content: space-around;
            margin: 20px 0px 20px 0px;

            >* {
                cursor: pointer;

                &:hover {
                    opacity: 0.6;
                }
            }
        }

        .footerLinks {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            width: 250px;
            justify-content: center;
            line-height: 2rem;
            margin: auto;
            font-weight: 500;

            a {
                padding-top: 10px;
                cursor: pointer;

                &:hover {
                    opacity: 0.6;
                }
            }

            .noStyle {
                list-style: none;
            }

            .spacing {
                margin: 15px;
            }
        }

        .footerCopyright {
            text-align: center;
            margin: 20px 0px 20px 0px;
        }
    }
}